* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    scroll-behavior: smooth;
    font-family: "Noto Sans SC", sans-serif;
  }
  
  .header {
    background: url("../IMAGES/images/phase1/h_img.jpg") no-repeat;
    background-size: 100% 100%;
    color: white;
    height: 100vh;
  }
  
  .container {
    min-height: 300px;
    padding-top: 250px;
    padding-bottom: 100px;
    padding-left: 150px;
    padding-right: 150px;
  }
  
  .row{
      margin-bottom: 20px;
  }
  
  /* The about us part*/
  .ABOUT-US {
    text-align: center;
    font-size: x-small;
    font-family: inherit;
    font-weight: lighter;
  }
  
  #DESIGN {
    display: none;
  }
  #DEVELOPMENT {
    display: none;
  }
  #PRODUCTMANAGEMENT {
    display: none;
  }
  
  /*Styling the form*/
  .form-group {
    background-image: url(../IMAGES/images/phase1/backgrounds/c_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 25px;
    max-width: 100%;
    border-top: 10px;
    border-left: 90px;
    text-align: initial;
    padding-top: 145px;
    padding-left: 155px;
    padding-bottom: 120px;
    color: whitesmoke;
  }
  
  #name ,#mail {
    background-color: inherit;
    border-color: ivory;
    color: whitesmoke;
    width: 40%;
    margin-bottom: 12px;
  }
  #feedback {
    height: 120px;
    width: 80%;
    background-color: inherit;
    border-color: whitesmoke;
    margin-bottom: 12px;
  }
  
  /*A background image on  the first three elements*/
  .one {
    background-image: url(../IMAGES/images/phase1/h_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;
    min-width: 1000px;
    width: 85%;
    background-size: cover;
    padding-top: 200px;
    padding-left: 100px;
    color: whitesmoke;
    font-size: x-large;
    text-align: center;
  }
  #tiny {
    font-size: xx-small;
  }
  
  /*Background to services*/
  .Services {
    text-align: center;
    color: whitesmoke;
    background-image: url("../IMAGES/images/phase1/s_image.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    height: 50vh;
  }
  
  /*styling the last p*/
  #last-p {
    text-align: center;
    font-size: x-small;
  }
  
  /*Styling the social media icons*/
  .footer {
    margin-top: 1rem;
  }
  